<div class="container">
	<div class="row">
		<div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3">

			{output}

		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h1>Dashboard</h1>
			{loop:content}
			<div class="row">
				<div class="col-sm-6">
					<div class="chart-label">Added Websites</div>
					<div class="chart" data-percent="{saved_names}">
						<span>{saved_names}</span>
					</div>
				</div>
				{set:api_key}
				<div class="col-sm-2">
					<div class="chart-label">Your API key</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group api-key">
						<input type="text" class="form-control input-lg readonly-input" value="{api_key}" readonly onclick="this.select()">
					</div>
				</div>
				{/set}
			</div>
			{mis:api_key}
			<p>You can add unlimited pairs, however to use our API with your software please <a href="{yoursite}subscription">subscribe</a> for just &pound;1 a month.</p>
			<a href="{yoursite}subscription" class="btn btn-sm btn-success">Subscribe today</a>
			{/mis}
			{/loop}

			<hr>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<a href="{yoursite}add" class="btn btn-block btn-lg btn-primary">Pair a website<span class="visible-md-inline visible-lg-inline"> to social usernames</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

