<div class="edit">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 logo">

				{output}

			</div>
		</div>
		<div class="row">
			{loop:content}
			<div class="col-sm-12">
				<h1>Edit a usernames for {url}</h1>

				<form method="post">
					<div class="row">

						<div class="form-group col-sm-12">
							<label for="website">URL</label>
							<input type="text" class="form-control input-lg" id="website" name="website" value="{url}" autofocus>
						</div>
						<div class="form-group col-sm-3">
							<label for="twitter">Twitter</label>
							<input type="text" class="form-control" id="twitter" name="twitter" value="{twitter}">
						</div>
						<div class="form-group col-sm-3">
							<label for="facebook">Facebook</label>
							<input type="text" class="form-control" id="facebook" name="facebook" value="{facebook}">
						</div>
						<div class="form-group col-sm-3">
							<label for="linkedin">LinkedIn</label>
							<input type="text" class="form-control" id="linkedin" name="linkedin" value="{linkedin}">
						</div>
						<div class="form-group col-sm-3">
							<label for="googleplus">Google+</label>
							<input type="text" class="form-control" id="googleplus" name="googleplus" value="{googleplus}">
						</div>

					</div>
					<hr>
					<button type="submit" class="btn btn-primary btn-block btn-lg" name="add">Save</button>
				</form>
			</div>
			{/loop}
			{mis:content}
			<p>Whosername? operates on a single
			{/mis}
		</div>
	</div>
</div>