	<div class="footer text-center">
		<div class="container">
			 <div class="row">
				<h5><a href="{yoursite}">Whosername</a></h5>
				<div class="col-xs-12">
					<p><small>A tiny web app by <a href="http://littlepolarapps.com" title="Little Polar Apps">Little Polar Apps</a></small></p>
					<p><small><strong>&copy; {copyrightdate}. {version}</strong> <a href="{yoursite}changelog">View our changelog.</a><br>
					Hosted by <a href="http://mdtm.pl/1uowRx6" title="(mt) Media Temple">(mt) Media Temple</a></small></p>
				</div>
			</div>
		</div>
		<div class="container">
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
	</div>

	<script src="{yoursite}javascript/jquery-1.11.1.min.js,bootstrap.min.js,list.min.js,jquery.easypiechart.js,javascript.js"></script>
</body>
</html>