<div class="container">
	<div class="row margin-100">
		<div class="col-xs-6">
			<a href="{yoursite}login" class="btn btn-success btn-block">Login</a>
		</div>
		<div class="col-xs-6">
			<a href="{yoursite}register" class="btn btn-primary btn-block">Register</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-1 margin-30">
			<h3>An example</h3>
			<p>creator.io constructs a tweet for you from the RSS feeds you follow so you can curate content on your own feeds and blogs. You want to mention the feed owner, but you don't know their twitter username, neither does creator.io, until now.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="well clearfix margin-50">
				<div class="row">
					<div class="col-sm-3">
						<p>creator.io &#8674; <span class="logo-sm">W<sup>?</sup></span> API</p>
					</div>
					<div class="col-sm-6">
						<pre>PHP curl request to <br>"http://whosername.com/api/<strong>[api_key]</strong>/<strong>bbc.co.uk</strong>/json</pre>
					</div>
					<div class="col-sm-3">
					 	<p class="text-right"><span class="logo-sm">W<sup>?</sup></span> API &#8672; <i class="fa fa-twitter"></i> @bbcnews</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<p>Having received the username from the <span class="logo-sm">W<sup>?</sup></span> API, creator.io can now send the tweet with the BBC username.</p>
						<div class="tweet clearfix">BBC News - Ukraine and pro-Russia rebels sign ceasefire deal http://bbc.in/1rFdHmn via <strong>@BBCNews</strong></div>
					</div>
				</div>
			</div>


			<p class="text-center light">Because automation is better.</p>
		</div>
	</div>
</div>


