<header class="{mis:logged_in}full{/mis}">
	<nav class="navbar navbar-who" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-2x fa-bars"></i>
				</button>
				<a href="/" class="navbar-brand navbar-brand-centered">Whosername<sup>?</sup></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-brand-centered">
			{set:logged_in}
				<ul class="nav navbar-nav">
					<li><a href="/logout">Logout</a></li>
					<li><a href="/settings">Settings</a></li>
					<li><a href="/my-api">API</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/add">Pair</a></li>
					<li><a href="/edit">Edit</a></li>
					{*<li><a href="/more">More</a></li>*}
				</ul>
			{/set}
			{mis:logged_in}
				<ul class="nav navbar-nav visible-xs">
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
				</ul>
			{/mis}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	{mis:logged_in}
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p><em>a simple, <abbr title="Application Program Interface">api</abbr> for the fast lookup of usernames based on a web address, or vice versa</em></p>
			</div>
		</div>
	</div>
	{/mis}

</header>
