<div class="container">
	<div class="row">
		<div class="col-sm-12 reg-heading">
			<h1>Reset Your Password</h1>
		</div>
		<div class="col-sm-4 col-sm-offset-4">
			{output}

			{set:password_reset_link}
				<form role="form" method="post">
				    <input type='hidden' name='user_name' value='{username}' />
				    <input type='hidden' name='verification_code' value='{verification_code}' />

					<div class="form-group">
				    	<label for="user_password_new" class="control-label">{wording_new_password}</label>
						<input type="password" id="user_password_new" class="form-control" name="user_password_new" pattern=".{#{6,#}}" required autocomplete="off" />
					</div>

					<div class="form-group">
					    <label for="user_password_repeat" class="control-label">{wording_new_password_repeat}</label>
						<input type="password" id="user_password_repeat" class="form-control" name="user_password_repeat" pattern=".{#{6,#}}" required autocomplete="off" />
					</div>

				    <input type="submit" name="submit_new_password" class="btn btn-primary btn-block btn-lg" value="{wording_submit_new_password}" />
				</form>
			<!-- no data from a password-reset-mail has been provided, so we simply show the request-a-password-reset form -->
			{/set}
			{mis:password_reset_link}
				<form role="form" method="post">
					<p>{wording_request_password_reset}</p>
					<div class="form-group">
				    	<label for="user_name" class="control-label">Username</label>
						<input type="text" id="user_name" name="user_name" class="form-control" required />
					</div>
				    <input type="submit" name="request_password_reset" class="btn btn-primary btn-block btn-lg" value="{wording_reset_password}" />
				    <a href="{yoursite}login" class="btn btn-link btn-block">{wording_back_to_login}</a>
				</form>
			{/mis}
		</div>
	</div>
</div>
