<div class="register">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3 logo">

				{output}

			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">

				<h2>Developers Subscription</h2>
				{mis:payment_successful}
				<form method="POST">
				<input type="hidden" name="subscribe">
				<script
					src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					data-key="{stripe_publishable_key}"
					data-amount="{amount}"
					data-label="Subscribe with card"
					data-name="Whosername"
					data-description="Yearly subscription"
					data-panel-label="Subscribe ({#{{amount}}#})"
					data-currency="{currency}"
					data-image="/128x128.png">
				</script>
				</form>
				{/mis}

			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	// This identifies your website in the createToken call below
	Stripe.setPublishableKey('{stripe_publishable_key}');

	Stripe.card.createToken({
		number: $('.card-number').val(),
		cvc: $('.card-cvc').val(),
		exp_month: $('.card-expiry-month').val(),
		exp_year: $('.card-expiry-year').val()
	}, stripeResponseHandler);

	function stripeResponseHandler(status, response) {
		var $form = $('#payment-form');

		if(response.error) {
			// Show the errors on the form
			$form.find('.payment-errors').text(response.error.message);
			$form.find('button').prop('disabled', false);
		} else {
			// response contains id and card, which contains additional card details
			var token = response.id;
			// Insert the token into the form so it gets submitted to the server
			$form.append($('<input type="hidden" name="stripeToken" />').val(token));
			// and submit
			$form.get(0).submit();
		}
	}
</script>