<div class="register">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">

				{output}

			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">

				<h2>Developers Subscription</h2>

				{mis:payment_successful}
				<p>Are you a developer? Get subscribed access to our API so you can look up usernames from websites or websites from usernames from a comprehensive list for your own app or website.</p>
				<p>Our subscription is available in XML or JSON format and is limited to 2 requests per minute, but this may change over time.</p>

                <form novalidate autocomplete="on" method="POST" id="subscription-form">
                    <input type="hidden" name="subscribe">
                    <p class="payment-errors"></p>
                    <div class="form-group">
                        <label for="cc-number" class="control-label sr-only">Card Number</label>
                        <input id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="Card number" data-stripe="number" required>
                    </div>
                    <div class="form-group">
                        <label for="cc-exp" class="control-label sr-only">Card Expiry</label>
                        <label for="cc-cvc" class="control-label sr-only">Card Security Number</label>
                        <div class="input-group">
                            <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="MM / YY" onfocus="this.value = this.value;" required>
                            <span class="input-group-btn" style="width:0px;"></span>
                            <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="CVC" data-stripe="cvc" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>

                    <p class="validation"></p>
                </form>
				{/mis}

			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	// This identifies your website in the createToken call below
	Stripe.setPublishableKey('{stripe_publishable_key}');
</script>
